.vscode/**
.devcontainer/**
.github/**
.svsch/**
src/**
test/**
scripts/**
.gitignore
tsconfig*.json
vite.config.ts
vitest.config.ts
playwright.config.ts
cucumber.js
**/*.ts
**/*.map
!dist/**
!media/**
node_modules/.bin/**
node_modules/*/.github/**
node_modules/*/.vscode/**
node_modules/*/*.md
node_modules/*/*.txt
